// Triadic Color
$celeste: #55eed7;
$azul: #556cee;
$rojo: #ee556c;
$rojo_trans: transparentize($color: $rojo, $amount: 0.75);
$rojo_semi: transparentize($color: $rojo, $amount: 0.5);
$granate: #800000;
$granate_semi: transparentize($color: $granate, $amount: 0.75);
$granate_trans: transparentize($color: $granate, $amount: 0.5);
$amarillo: #eed755;
$morado: #d755ee;
$morado_semi: transparentize($color: $morado, $amount: 0.5);
$morado_trans: transparentize($color: $morado, $amount: 0.75);
//kobalive
$blanco: aliceblue;
$negro: #292421;
$negro_semi: transparentize($color: $negro, $amount: 0.5);
$negro_trans: transparentize($color: $negro, $amount: 0.75);
$marron: #c49c74;
$gris: #9ca6b1;
$blanco: #e3e4e5;
//Tamaño letra
$letra: clamp(1.5rem, 2vw, 3rem);
//bordes
$bordes: 1px solid$blanco;

.navegador a.active {
    color: $morado; /* Cambia el color del texto cuando está activo */
    font-weight: bold; /* Resalta el enlace activo */
    text-shadow: $negro 3px 3px 1px; /* Mantén el relieve del texto */
}