// Triadic Color
$SoftCyan: #55eed7;
$SoftBlue: #556cee;
$SoftRed: #ee556c;
$SoftYellow: #eed755;
$SoftMagenta: #d755ee;
//kobalive
$negro: #292421;
$marron: #c49c74;
$gris: #9ca6b1;
$blanco: #e3e4e5;