@import '../sass.scss';

.encabezado_container {
  box-sizing: border-box;
  height: 150px;
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $negro;
  flex-wrap: nowrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  gap: 10px;
}

.logo {
  width: 200px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_img {
  width: 100%;
}

.encabezado {
  width: 100%;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: $letra;

}

.falta {
  color: $rojo;
  align-self: flex-start;
  text-align: left;
  display: flex;
  flex-wrap: nowrap;
}

.entradas_container {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.entradas_titulo {
  color: $amarillo;
  align-self: center;
  ;
}

.entradas_boton {
  align-self: flex-end;
  color: aqua;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}