@import '../sass.scss';

.encabezado_container {
  height: 175px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $negro;
  color: $marron;
  font-size: clamp(2rem, 3vw, 4.5rem);
}

.logo{
  padding: 10px;
  height: 75px;
  display:flex;
  align-items: center;
}

.logo_img {
  height: 150px;
}

.encabezado {
  display:flex;
  padding: 25px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/* .falta {
  display: flex;
  text-align: center;
}
 */
/* .entradas_container {
  height: auto;
  padding: 10px 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: $gris;
  color: $negro;
  font-size: clamp(2rem, 3vw, 4.5rem);
}
 */
/* .entradas_titulo {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
 */
/* .entradas_boton {
  display: flex;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
  overflow: visible;
} */