@import '../sass.scss';

.encabezado_container {
  height: 150px;
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $negro;
  color: $marron;
  flex-wrap: nowrap;
}

.logo {
  width: 200px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_img {
  width: 100%;
}

.encabezado {
  display: flex;
  padding: 0px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;

}

.falta {
  text-align: left;
  display: flex;
  flex-wrap: nowrap;
}

.entradas_container {
  padding: 0px;
  display: flex;
  flex-direction: column;
    width: fit-content;
}

.entradas_titulo {
  color: $marron;
}

.entradas_boton {
  color:aqua;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}