@import '../sass.scss';

.entradas_container {
  height: auto;
  padding: 10px 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: $gris;
  color: $negro;
  font-size: clamp(2rem, 3vw, 4.5rem);
}

.entradas_titulo {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.entradas_boton {
  display: flex;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
  overflow: visible;
}