@import '../sass.scss';

.pie_container {
  color: $celeste;
  height: 150px;
  width: 100%;
  background-image: url('../../assets/images/MonteNegro.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.patrocinio {
  padding: 0px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.organizador, .promotor {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.texto_organizador, .texto_promotor {
  font-size: 2.5rem;
  color: $amarillo;
}

.promotor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.logo_promotor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}