@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");
@import './sass.scss';

html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Metal Mania';
}

body {
    font-family: 'Metal Mania', cursive;
    overflow-x: hidden;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
    cursor: url('../assets/images/KobaPua_32x32.png'), auto;
    margin-top: 175px;
}

.app {
    margin-top: 2rem;
    display: grid;
    justify-items: center;
}

.navegador {
    border-bottom: 1px solid $negro;
    height: 25px;
    background-color: $gris;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;

    a {
        text-decoration: none;
        color: $negro;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &:hover {
            text-decoration: none;
            color: $rojo;
            font-size: 2em;
    cursor: url('../assets/images/KobaPua_32x32_Rojo.png'), auto;        }
    }
}