// Triadic Color
$celeste: #55eed7;
$azul: #556cee;
$rojo: #ee556c;
$amarillo: #eed755;
$morado: #d755ee;
//kobalive
$blanco: aliceblue;
$negro: #292421;
$marron: #c49c74;
$gris: #9ca6b1;
$blanco: #e3e4e5;
//Tamaño letra
$letra: clamp(1.5rem, 2vw, 3rem);
//bordes
$bordes: 1px solid aliceblue;