@import '../sass.scss';
@import '../scroll.scss';
@import '../mixin.scss';

.contenido-app-container {
  box-sizing: border-box;
  padding: 20px 50px;
  padding-right: 15px;
  gap: 15px;
  font-size: $letra;
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  height: $contenido; 
  overflow-y: auto;
}

.fecha-container {
  color: $blanco;
  text-shadow: $sombra-negra;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.banda-container {
  display: flex;
  flex-wrap: wrap; // Permite que los elementos se envuelvan en varias líneas
  flex: 1 1 calc(25vh - 10px); // Ajusta el ancho para 4 elementos por línea
  justify-content: space-around;
  align-content: center;
  align-items: center;
}