@import '../sass.scss';

.imagen {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;

}

.imagen-perfil, .imagen-equipo {
  width: 75%;
  height: 50%;
  border-radius: 50%;
}
.imagen-equipo img {
  width: 50%;

}






.imagen-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  color: white;
  text-align: center;
}

.imagen-texto h2 {
  font-size: $letra;
}