@import '../sass.scss';

.faq {
  display: flex;
  background-color: $negro;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px 10%;
}

.faq h1 {
  font-size: 4.4rem;
  font-weight: normal ;
  color: $rojo;
  text-align: center;
  
}

.faq h2 {
  font-size: 3rem;
  font-weight: normal;
  text-align: justify;
  color: $amarillo;
}

.faq h3 {
  font-size: 2rem;
  font-weight: normal;
  text-align:justify;
  color: $celeste;
  margin-bottom: 25px;
  display: flex;
}