@import '../sass.scss';

.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px 10%;
  max-height: 500px; /* Ajusta la altura máxima según sea necesario */
  overflow-y: auto;
  border: 1px solid #ccc; /* Opcional: estilo del borde */
  border-radius: 5px; /* Opcional: esquinas redondeadas */
}

.faq .scroll-container {
  max-height: 400px; /* Ajusta la altura máxima según sea necesario */
  overflow-y: auto;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc; /* Opcional: estilo del borde */
  border-radius: 5px; /* Opcional: esquinas redondeadas */
}

.faq h1 {
  font-size: 4.4rem;
  font-weight: normal;
  color: $rojo;
  text-align: center;

}

.faq h2 {
  font-size: 3rem;
  font-weight: normal;
  text-align: justify;
  color: $amarillo;
}

.faq h3 {
  font-size: 2rem;
  font-weight: normal;
  text-align: justify;
  color: $celeste;
  margin-bottom: 25px;
  display: flex;
}

