@import '../sass.scss';

.contenido_app_banda {
  box-sizing: border-box;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  font-size: $letra;
}

.banda {
  // border: $bordes;
  display: flex;
  flex: 1 1 calc(25% - 10px);
  justify-content: space-around;
  align-content: center;
  align-items: center;

}

.suicidal {
  width: 100%;
}

.suicidal img {
  width: 100%;
}