@import '../sass.scss';

.contenido_app_banda {
  box-sizing: border-box;
  background-image: url('../../assets/images/Fondos/volcan.jpg');
  background-size: cover;
  /* Ajusta la imagen para que cubra todo el contenedor */
  background-position: center;
  /* Centra la imagen */
  background-repeat: no-repeat;
  /* Evita que la imagen se repita */
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  font-size: $letra;
}

.banda {
  border: $bordes;
  display: flex;
  flex: 1 1 calc(33% - 10px);
  justify-content: space-around;
  align-content: center;
  align-items: center;

}

.suicidal {
  width: 100%;
}

.suicidal img {
  width: 100%;
  background-color: $rojo;
}